// ------------------------------------------------------------------
// Subpages - Custom
// ------------------------------------------------------------------

/* Accordion styles */
.accordion-tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .accordion-tab {
        width: 100%;
        color: $white;
        overflow: hidden;

        &-label {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            background: $accordion;
            font-weight: bold;
            cursor: pointer;

            /* Icon */
            &:hover {
                background: darken($accordion, 10%);
            }

            &::after {
                content: "\276F";
                width: 1em;
                height: 1em;
                text-align: center;
                transition: all .35s;
            }
        }

        &-content {
            max-height: 0;
            padding: 0 1em;
            color: $bodyText;
            background: $white;
            transition: all .35s;

            h1,
            h2,
            h3,
            h4,
            h5,
            h5,
            p {
                margin-top: 0;
            }
        }

        &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: $accordion;
            cursor: pointer;

            &:hover {
                background: darken($accordion, 10%);
            }
        }
    }

    // :checked
    input:checked {
        +.accordion-tab-label {
            background: darken($accordion, 10%);

            &::after {
                transform: rotate(90deg);
            }
        }

        ~.accordion-tab-content {
            max-height: 100vh;
            padding: 1em;
        }
    }

}

/* Accordion Default Color Styling */

.accordion-tab {
    // Header Text Color
    color: $white;

    &-label {
        // Header Background Color
        background: $accordion;

        /* Icon */
        &:hover {
            // Header Hover Color
            background: darken($accordion, 10%);
        }
    }

    &-content {
        // Accordion Content Text Color
        color: $bodyText;
        // Accordion Content Background Color
        background: $white;
    }

    &-close {
        // Close Button Background Color
        background: $accordion;

        &:hover {
            // Close Button Hover Color
            background: darken($accordion, 10%);
        }
    }

    // :checked
    input:checked {
        +.tab-label {
            // Header Selected Background Color
            background: darken($accordion, 10%);
        }
    }

    .c-btn {
        padding: 5px 10px;
    }
}

.page-about-team {
    #content {
        section:nth-child(n+3) {
            .c-rich-text__section {
                img {
                    width: 35%;

                    @media screen and (min-width: 992px) {
                        width: 21%;
                    }
                }
            }
        }
    }
}