// ------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------

footer {
  background-image: $footerBarImgBg !important;
  background: $footerBg;
  display: block;
  background-repeat: repeat;
  padding: 0;
  font-size: em(16);

  .o-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .col-xs-12 {
    padding-right: 0;
    padding-left: 0;
  }

  .contact,
  .quickLinks {
    text: {
      align: left;
    }
  }

  h4,
  td {
    color: $footerText;
  }

  h4 {
    margin-bottom: 20px;
    font-size: em(16);
  }
}

.moonlight-address1,
.moonlight-address2,
.moonlight-fax,
.moonlight-phone {
  margin-bottom: 5px !important;
}

.moonlight-address_block {
  margin-top: 20px;
}

.moonlight-contact-information {
  font-size: em(14);
}

.moonlight-contact-information a[href*="mailto:"] {
  display: inline-block;
  text-decoration: none;
  color: $footerText;

  &:hover,
  &:active,
  &:focus {
    color: $footerHover;
  }
}

.c-socialMedia {
  margin-top: 20px;
}

footer .c-socialMedia a {
  width: auto;
  height: auto;
  margin: 0 10px 0 0;
  padding: 0 !important;
  font-size: em(18);
  color: $footerText;
  background: transparent !important;

  i {
    position: relative !important;
  }

  &:hover,
  &:active,
  &:focus {
    color: $footerHover;
  }

  &.facebook {
    background: none;
    padding: 0 !important;

    &:hover,
    &:active,
    &:focus {
      background: none;
    }
  }

  &.twitter {
    background: none;

    &:hover,
    &:active,
    &:focus {
      background: none;
    }
  }

  &.linkedin {
    background: none;

    &:hover,
    &:active,
    &:focus {
      background: none;
    }
  }

  &.youtube {
    background: none;

    &:hover,
    &:active,
    &:focus {
      background: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.quickLinks {
  margin-top: 40px;

  ul {
    font-size: em(14);
  }

  ul a {
    color: $footerText;

    &:hover,
    &:active,
    &:focus {
      color: $footerHover;
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

footer .note {
  margin-top: 40px;
  font-size: em(14);

  text: {
    align: left;
  }

  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 992px) {
    margin-top: 0;
  }
}

footer .rule2 {
  height: 0;
}

.boker-check-disclaimer a {
  color: $footerText;

  &:hover,
  &:active,
  &:focus {
    color: $footerHover;
  }
}

footer {
  @media screen and (min-width: 1200px) {
    .col-md-3 {
      width: 23%;
    }

    .col-md-2 {
      width: 17%;
    }

    .col-md-7 {
      width: 60%;
    }
  }
}