// ------------------------------------------------------------------
// General
// ------------------------------------------------------------------
.c-row {
    display: flex;
    flex-direction: row;
    @include grid-container;

    &+& {
        margin-top: 20px;
    }
}

.c-row {
    @media only screen and (max-width:768px) {
        flex-direction: column;
    }
}

@media only screen and (min-width: 992px) {
    .c-2-box {
        .c-box {
            @include grid-column(6);

            &:nth-child(odd) {
                width: calc(33% - 30px);
            }

            &:nth-child(even) {
                width: calc(66% - 30px);
            }
        }
    }
}

.c-3-box {
    .c-box {
        @include grid-column(4);
        background: $white;

        &:nth-child(odd) {
            background: $black;
        }
    }
}

.c-4-box {
    .c-box {
        @include grid-column(3);

        &:nth-child(odd) {
            background: $primary;
        }

        &:nth-child(even) {
            background: $secondary;
        }
    }
}

.c-5-box {
    .c-box {
        @include grid-column(3);
        // @include grid-column(3, $new-grid);


        &:nth-child(odd) {
            background: $black;
        }

        &:nth-child(even) {
            background: $white;
        }
    }
}

.title-color {
    color: $primary;
}

html {
    font-size: em(16);
}

body {
    background: $bodyBg;

    font: {
        family: $bodyFont;
        size: em(16);
    }

    line-height: 1.5;
    color: $bodyText;
}

a {
    color: $bodyLinks;
    @include transition(all 0.3s ease-in-out);

    &:hover,
    &:active,
    &:focus {
        color: $bodyLinksHover;
    }
}

footer a {
    color: $footerText;
    @include transition(all 0.3s ease-in-out);

    &:hover,
    &:active,
    &:focus {
            color: $footerHover;
    }
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
#articleContent strong,
#glossaryContent h3 a,
#additional nav a,
aside h2 a {
    color: $headings;

    font: {
        family: $headingFont;
        weight: 400;
    }

    text-transform: none;
    line-height: 1.2;
    color: $headings;

    p {
        font-size: inherit;
    }

    a {
        text-transform: none;
        color: $headingLinks;

        &:hover,
        &:active,
        &:focus {
            color: $headingLinksHover;
        }
    }
}

ol,
ul {

    //   margin-bottom: 20px;
    //   padding-left: 30px;
    li {

        // margin: 0 0 5px;
        &:last-child {
            //   margin: 0;
        }
    }
}

.body-container {
    background: $bodyContainerBg;

    @media (max-width: 992px) {
        padding-top: 0 !important;
    }
}

.container {
    //   width: 100%;
    //   padding: 0 20px;
}

section.section {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        p {
            //   line-height: 1.25;
        }
    }
}

div,
ol,
section,
ul {

    &>*:last-child,
    &>*:last-child>*:last-child,
    &>*:last-child>*:last-child>*:last-child {
        // margin-bottom: 0;
    }
}

::selection {
    background: $selection;
    color: $white;
}

table {
    border: solid 1px $rule;

    th {
        background: $rule;
        padding: 10px !important;
        font-size: 18px;
        border-bottom: none !important;
        color: $white;
    }

    td {
        padding: 10px !important;
        font-size: 14px;
        border-top: solid 1px $rule !important;
        border-right: solid 1px $rule;
    }
}

//// BUTTONS
.threeBoxBtn,
.learnmore,
.submit,
.c-btn {
    background: $button;
    border: none;

    font: {
        family: $bodyFont;
    }

    color: $white;

    &:hover,
    &:active,
    &:focus {
        background: $buttonHover;
    }
}

// Form Bootstrap Issue Fix
@media screen and (min-width: 992px) {
    form {

        input[name="Name"],
        input[name="Email"],
        input[name="Phone"] {
            padding: 0 !important;
        }
    }
}

.fas {
    font-family: FontAwesome;
}
.c-leadgen-form--label {
    color: #fff;
}
