// ------------------------------------------------------------------
// Header


@media (min-width: 992px){
.c-header-classic .c-header__container {
        padding: 0;
}
.c-header-classic .c-topbar-phone--link, .c-header-classic .c-topbar-email--link {
	color: $white !important;
}
.c-header-classic .c-withTopbar-locations {
	justify-content: center;
}
.c-header .c-topnav__menu-item:last-of-type:hover a {
	    background: transparent;
    }
}


.c-header {
    @media (min-width:992px) {
        box-shadow: 0.05px 0.05px 5px $darkGray;
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
    }

    @media (max-width:992px) {
        border-bottom: 2px solid;
        background: $mobileHeaderBg;
        background: $topbarBg;
        background-repeat: repeat;
    }

    .c-topnav__menu-item:last-of-type {
        @media (min-width:992px) {
            position: relative;
            right: 10px;
        }
    }

    .c-topbar {
        @media (min-width:992px) {
            //background-image: $topBarImgBg !important;
            //background: $topbarBg;
            display: block;
            background-repeat: repeat;
            //height: 40px;
        }
    }

    .c-template__logo {

        img {
            @media (min-width: 992px) {
                width: $logoDesktop;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }
        }
    }

    // Topbar Icons
    .c-email--icn,
    .c-phone--icn,
    .c-map-marker-icn {
        color: $headerLinksMobile;

        @media (min-width: 992px) {
            color: $headerLinks;
        }
    }

    // Topbar Button
    .c-topbar {
        .c-header-btn .c-header-btn--link {
            background: $topbarBtn;
            @include transition(all 0.3s ease-in-out);

            &:hover,
            &:active,
            &:focus {
                background: $topbarBtnHover;
            }
        }
    }

    // Topbar Links
    .c-topbar-address--link {
        color: $headerLinksMobile !important;
        @media (min-width: 992px) {
            color: $headerLinks !important;
        }
    }
    .c-topbar__phone-email {

        .c-topbar-phone--link,
        .c-topbar-email--link {
            color: $headerLinksMobile !important;

            &:hover,
            &:active,
            &:focus {
                color: $headerHoverMobile !important;
            }

            @media (min-width: 992px) {
                color: $headerLinks !important;

                &:hover,
                &:active,
                &:focus {
                    color: $headerHover !important;
                }
            }
        }
    }

}

#mainNav {
   order: 3;
}

// ------------------------------------------------------------------
// Fixed Navigation Menu SCSS
// ------------------------------------------------------------------
header.affix {
    @media (min-width:992px) {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
        @include transition-property(top);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in);

    }

    .c-template__logo {

        img {
            width: $logoDesktopSmall;
        }
    }
}

header {
    background: $headerBg !important;

    @media (min-width: 992px) {
        padding: 0;
        background: $headerBg;
        height: auto;
        min-height: 80px;
    }
}

// ------------------------------------------------------------------
// New Mobile Navbar Adjustments
// ------------------------------------------------------------------
 
 
.c-header--optimized {
 
    #mainNav.c-topnav__navbar {
        // Mobile Menu Settings
        @media screen and (max-width: 991px) {
 
            background: $headerBg;
 
            .c-topnav__navbar-btn .c-navbar__toggle {
                // Menu Button Color
                .c-center-bar,
                .c-center-bar:before,
                .c-center-bar:after {
                    background-color: $primary;
                }
            }
        }
        // Mobile Menu Expanded Settings
        @media screen and (max-width: 767px) {
 
            .c-topnav__navbar-btn .c-navbar__toggle.c-circle__expand {
 
                .c-center-bar,
                .c-center-bar:before,
                .c-center-bar:after {
                    background-color: $white;
                }
            }
        }
    }
}

.c-template__logo--mobile .c-logo--image {
    max-height: 80px;
}

@media screen and (max-width: 992px) {
    .c-topnav__navbar {
        height: 80px;
    }
    .c-header {
        padding-top: 80px;
    }
}
