// // ------------------------------------------------------------------
// // Homepage
// // ------------------------------------------------------------------
// spacing
.homepage {
  .c-customsection__container {
    @media (min-width: 992px) {
      padding: 130px 0;

      h1 {
        font-weight: 700;
      }
    }
  }
}

// Rotator Section
.homepage {
  #section_0 {

    // Rotator Overlay for Slides
    .c-rotator__image:before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: $bannerOverlay;
      width: 100%;
    }

    @media (min-width: 992px) {
      .c-rotator-summary__box.c-rb-textalign--Right {
        left: 61% !important;
        top: 55% !important;
        width: 40%;
      }


      .owl-item,
      .c-rotator__image {
        height: 70vh;
      }

      .c-rotator-dots__container {
        bottom: 5% !important;
      }
    }

    .c-rotator-dots .owl-dot span {
      width: 1.5rem !important;
      height: 1.5rem !important;
    }
  }
}

.homepage #section_0 .c-rotator-size--boxed .c-rotator-summary__box,
.homepage #section_0.c-rotator-size--fullwidth .c-rotator-summary__box {
  background: transparent !important;
}

// welcome section
.homepage #section_1 {
  padding: 20px;
  background: $white !important;

  h4 {
    line-height: 0;
    margin-bottom: -15px;
  }

  .welcome {
    @media (min-width: 768px) {
      width: 32%;
      padding: 0px;
    }

    @media only screen and (max-width: 992px) and (min-width: 768px) {
      padding: 20px;
    }
  }

  .welcome-text {

    h2:after,
    p:last-child:before {
      content: '';
      border-bottom: solid 1px $darkGray;
      opacity: 1;
      padding-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      width: 70%;
      display: block;
    }

    h2 {
      font-size: 3em;
    }

    h2,
    h4 {
      color: $black;
    }
  }

  .content-boxone {
    background: $primary;
    color: $white !important;

    @media (min-width: 1200px) {
      position: relative;
      left: 60px;
    }

    .c-btn {
      color: $white !important;
    }

    .c-btn:before {
      border-bottom: solid 1px $white;
    }

    h2 {
      color: $white !important;

    }
  }

  .content-boxtwo {
    @media (min-width: 1200px) {
      position: relative;
      left: 30px;

    }

    .c-btn {
      color: $white !important;
    }

    .c-btn:before {
      border-bottom: solid 1px $white;
    }

    h2 {
      color: $white !important;

    }
  }
}


@media(min-width: 992px){
	.homepage .superSection {
	    display: flex;
	    width: 100%;
	    overflow-x: hidden;
	}

	.homepage .superSection::after {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    background: rgba(54, 54, 54, 0.3);
	}

	.homepage #section_2 {
	    width: 25%;
	    margin-left: 10%;
	    position: absolute;
	    background-color: transparent;

	    .owl-stage-outer{
	         width: 100%;
	         margin: 0 auto;
	    }
	    .owl-item {
		    height: 600px;
	    }
	    .c-rotator-summary__box {
		    height: 80%;
		    width: 100%;
		    display: flex;
		    flex-flow: column nowrap;
		    justify-content: center;
		    align-items: center;
	    }

	}
	
	.homepage section#section_3 {
	    width: 65%;
	    margin-left: 35%;
	}

	.homepage .c-2-box .c-box:nth-child(odd) {
	    width: 70%;
	    margin: 0 auto;
	}
}

@media(max-width:992px){
	.homepage #section_2 {
	    background-color: #f4f4f4;
	}
}


//Accordion 

.homepage {
  .title-color {
    color: $titleAlt;
  }
}

.accordion-box {
  @media (min-width: 768px) {
    width: 50% !important;
  }
}

.accordion-img img {
  margin: 0;
  max-width: 100%;
  padding: 20px;
}

// helpful content
.homepage {
  .section_Boxes.c-box__count--2 {
    .o-grid__collapse {
      width: 100%;
      margin: 0;
    }


    .c-grid__item {
      @media (min-width: 768px) {
        width: calc(33% - 26.66667px);
      }
    }
  }

  .content-boxone,
  .content-boxtwo,
  .content-boxthree,
  .content-boxfour {

    padding: 0 !important;
    box-shadow: 0px 3px 24px $mediumGray;
    text-align: left;
    border-radius: 10px;
    background: $white;

    img {
      max-width: none !important;
    }

    @media (min-width: 768px) {
      max-width: 320px;
    }

    &:hover {
      transform: scale(1.03);
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    h2 {
      color: $black;
    }

    h2,
    .c-box__paragraph {
      padding: 0px 15px 0px 15px;
    }

    i {
      margin-left: 5px;
    }

    .c-btn {
      background: none;
      color: $black !important;
      position: relative;
      margin-bottom: 25px;
      align-self: auto;
      border: none;
    }

    .c-btn:before {
      content: '';
      border-bottom: solid 1px $darkGray;
      opacity: 1;
      padding-top: 20px;
      text-align: center;
      width: 70%;
      display: block;
      position: relative;
      top: -15px;
    }
  }

  .section_Boxes .Image img {
    border-radius: 10px 10px 0px 0px;
  }

  .main-title h2 {
    font-size: 32px;
  }

  .main-title h2,
  .main-title p {
    color: $white !important;
  }
}

//// Homepage Form
.home-form {
  .container {
    @media (min-width: 992px) {
      padding: 100px 0 !important;
    }

  }

  h2 {
    color: $black;

    @media (min-width: 992px) {
      font-size: 2em;
    }
  }

  @media (min-width: 992px) {
    text-align: center;

    span {
      display: none;
    }

    .contactForm input[type="text"] {
      text-align: center;
      height: 40px;
      background: rgba(255, 255, 255, 0.65);
      border: transparent;
    }

    .contactForm textarea {
      height: 80px;
      text-align: center;
      margin: 0;
      background: rgba(255, 255, 255, 0.65);
      border: transparent;
    }
  }

  span.field-label {
    display: none;
  }

  .contactForm .formSuccess {
    margin: 20px 0 0 20px !important;
    color: $white !important;
    font-size: 18px;
  }
}

.homepage .center {
  @media (min-width: 992px) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.homepage #section_5 {
  background: #f4f4f4 !important;
}

.homepage #section_6 .c-customsection__container {
  @media (max-width: 768px) {
    padding: 50px 20px;
  }
}
