// ------------------------------------------------------------------
// Misc
// ------------------------------------------------------------------

.back-to-top {
  background: $toTopBg;
  background: rgba($toTopBg, 0.5);
  padding: 5px 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
