// ------------------------------------------------------------------
// Navigation
// ------------------------------------------------------------------

@media (min-width:992px) {

    // Last Nav Item formatting to look like a button (Desktop Only)
    .c-topnav__menu-item:last-child .c-topnav__menu-text span {
        background: transparent;
        padding: 7px 10px;
        border-radius: 10px;
        color: $navButton;
        border: 2px solid $navButton;

        &:hover {
            border: 2px solid $navButton;
            background: $navButton;
            color: $white;
        }
    }

    .c-topnav__menu-item a.c-topnav__menu-text.dropdown-text::after {

        font-family: "FontAwesome";
        content: "\f0dd";
        position: relative;
        left: 10px;
        top: -3px;
        font-size: 14px;
    }
}

.c-topnav__navbar {
    background: $mobileNavBackground;

    @media (min-width: 992px) {
        background: none;
    }

    &.c-nav-classic,
    &.c-nav-centered,
    &.c-nav-Masthead {
        background: transparent;//$mobileNavBackground;
    }
}

.c-topnav__menu-item .c-topnav__menu-text {
    color: $mobileNavTextColor;// !important;

    &.selected {
        color: $mobileNavTextColor !important;

        @media (min-width: 992px) {
            background: darken($mobileNavBackground, 10);
            color: $mobileNavTextColor;
        }
    }
}

.c-topnav__submenu {
    background: darken($mobileNavBackground, 2);

    @media (min-width: 992px) {
        background: $subMenu;
    }
}

.c-topnav__menu-item:hover {

    .c-topnav__menu-text {
        background: darken($mobileNavBackground, 5);
        color: $white !important;
    }
}

.c-topnav__submenu-item a {
    color: $mobileNavTextColor;
}

.c-topnav__submenu-item:hover {

    @media (min-width: 992px) {
        background: $linkHoverBg;
    }
}

.c-circle {
    background: darken($mobileNavBackground, 10);
}

.c-navbar__toggle {

    &.c-circle__expand .icon-bar {
        background: $mobileNavTextColor;
    }
}

.angleLeft,
.angleRight {
    background: $mobileNavTextColor;
}

#mainNav.c-topnav__navbar {
    @media (max-width: 992px) {
        background: $navTopbar;

        .c-topnav__navwrapper {
            background: $mobileNavBackground;
        }
    }

    .c-topnav__submenu {
        background: $subMenu;
    }

    .c-topnav__submenu-item:hover {
        background: $linkHoverBg;
    }

    .c-topnav__submenu-item a,
    .c-topnav__submenu-item a.selected {
        color: $mobileNavTextColor !important;
    }

    ul li {
        @media (min-width: 992px) {
            >a.c-topnav__menu-text {
                color: $parentLinks;// !important;

                span:after {
                    background: transparent;
                }
		&:hover {
			color: #fff !important;
		}
            }

            a.selected {
                color: $parentSelected !important;
            }
        }
    }
}

// ------------------------------------------------------------------
// New Mobile Navbar Adjustments
// ------------------------------------------------------------------
 
 
.c-header--optimized {
 
    #mainNav.c-topnav__navbar {
 
        @media screen and (max-width: 991px) {
 
            background: $headerBg;
 
            .c-topnav__navbar-btn .c-navbar__toggle {
 
                .c-center-bar,
                .c-center-bar:before,
                .c-center-bar:after {
                    background-color: $mobileMenuButton;
                }
            }
        }
 
        @media screen and (max-width: 767px) {
 
            .c-topnav__navbar-btn .c-navbar__toggle.c-circle__expand {
 
                .c-center-bar,
                .c-center-bar:before,
                .c-center-bar:after {
                    background-color: $mobileMenuLogoBg !important;
                }
            }
        }
    }
}
