// ------------------------------------------------------------------
// Subpages - System
// ------------------------------------------------------------------

.c-matter-flag__body {
    background: $primary;
    
    &:hover,
    &:active,
    &:focus {
	background: $tertiary;
	color: $white !important;
    }
}

.c-additional__content nav {
    .selected {
        background: $primary;
        color: $white !important;
    }

    a {

        &:hover,
        &:active,
        &:focus {
            background: $primary;
            color: $white !important;
        }
    }

}

.c-additional__content {

    .viewAll a,
    h4 a {
        color: $primary;

        &:hover,
        &:active,
        &:focus {
            color: darken($primary, 20)
        }
    }
}
