// ------------------------------------------------------------------
// Paths
// ------------------------------------------------------------------

// path to image folder in s3
$clientNumber: '377131-rodriguez-conklin';
$URL: "//fmg-websites-custom.s3.amazonaws.com/#{$clientNumber}/images/";
$pattern: 'texture.jpg';
// ------------------------------------------------------------------
// Colors
// ------------------------------------------------------------------

$primary: #76b83f;
$secondary: darken($primary, 10);
$tertiary: #2d6e27;
$black: #222;
$white: #fff;
$ghost: #f1f1f1;
$lightGray: #e1e1e1;
$mediumGray: #dadada;
$darkGray: #666;
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #0077b5;
$youtube: #cd201f;

// ------------------------------------------------------------------
// General
// ------------------------------------------------------------------

$bodyBg: $white;
$bodyContainerBg: $white;
$bodyText: $darkGray;
$bodyLinks: $primary;
$bodyLinksHover: $tertiary;
$headings: $primary;
$headingLinks: $primary;
$headingLinksHover: $tertiary;
$headingFont: 'Roboto Condensed', sans-serif; 
$bodyFont: 'Open Sans', sans-serif;
$button: $primary;
$buttonHover: $secondary;
$rule: $lightGray;
$selection: $primary;



// ------------------------------------------------------------------
// Header
// ------------------------------------------------------------------
$topbarBg: $black;
$topBarImgBg: url(#{$URL}#{$pattern});
$logoBg: $secondary;
$headerBg: $white;
$mobileHeaderBg: $white;
$headerLinksMobile: $secondary;
$headerHoverMobile: $tertiary;
$headerLinks: $white;
$headerHover: $primary;
$topbarBtn: $primary;
$topbarBtnHover: $tertiary;

$logoMaxWidth: 400px;
$logoDesktop: 300px;
$logoDesktopSmall:250px;
$logoMobile: 90%;

// ------------------------------------------------------------------
// Nav
// ------------------------------------------------------------------

// mobile
$mobileNavTextColor: $white;
$navTopbar: $primary;
$mobileNavBackground: $secondary;
$linkHoverBg: $primary;
$linkSelectedBg: $primary;

// Mobile Header Optimized
$mobileMenuButton: $primary;
$mobileMenuLogoBg: $white;

// desktop
$navDesktopBg: $black;
$parentLinks: $black;
$parentTextHover: $primary;
$parentSelected: #fff;//$secondary;
$subMenu: rgba(49, 49, 49, 0.9);
$navButton: $secondary;

// ------------------------------------------------------------------
// Homepage
// ------------------------------------------------------------------

$homeSectionBg: $white;

// banner
$bannerBg: $homeSectionBg;
$bannerOverlay: rgba($black, 0.4);

// intro
$titleColor:$primary;
$introBg: $ghost;

// rotator
$heroBg: $secondary;
$herotextBg: rgba($primary, 0.77);
$heroOverlay: rgba(0, 0, 0, 0.11);
$heroHeading: $headings;
$heroArrows: $mediumGray;

// side-by-side box
$topboxBg: $primary;
$bottomboxBg: $tertiary;
$quote1Bg: $secondary;
$quote2Bg: $primary;
$imageAlign1: left;
$imageAlign2: right;
/* Change if you need overlay on COBS */
$sideImageBoxOverlay: rgba($black, 0);

// three box
$threeboxBg: $primary;
$textboxBg: $white;

// Accordion
$accordion: $primary;
$titleAlt: #5b922d;

// resources
$resourceBg: $homeSectionBg;
$boxbtn: $primary;
$boxbtnHover: $secondary;
$boxbtnIcon: $white;
$boxbtnIconHover: $white;

// form
$formBg: $primary;
$inputBg: $secondary;

// app
$appBg: $ghost;

// ------------------------------------------------------------------
// Subpages
// ------------------------------------------------------------------

$subpageHeaderBg: $black;
$subpageContainerBg: $white;

// ------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------
$footerBarImgBg: url(#{$URL}#{$pattern});
$footerBg: $tertiary;
$footerText: $white;
$footerHover: $primary;

// ------------------------------------------------------------------
// Misc
// ------------------------------------------------------------------

$brokerCheckBg: $ghost;
$toTopBg: $bodyLinks;
