<div class="welcome-text">
    <h4>CULTIVATED FOR YOU</h4>
    <h2>Your Goals are the Key to Rampant Growth</h2>
    <p>The best futures are achieved through naturally diverse investments. Like the strongest of trees, the seeds you plant today will lead to a lush canopy of comfort, shelter, and protection tomorrow.</p>
    <p>Organic growth underlies all we do at Alta Wealth Management. Together, we'll design a roadmap that starts with the future you want and ends with your dream retirement. Our approach is designed to help your retirement weather the harshest of storms.</p>
</div>
<div class="c-outer-container">
    <div class="c-container-inner">
        <div class="c-wrapper">
            <div class="c-row c-2-box">
                <div class="c-box">
                    <div class="accordion-img"><img src="#" /></div>
                </div>
                <div class="c-box">
                    <div class="main-title">
                        <h2>Your Goals. <span class="title-color">Our Strategies.</span></h2>
                        <p class="main-sub">Discover an array of services for all your financial needs.</p>
                    </div>
                    <!-- Radio Accordion -->
                    <div class="accordion-tabs">
                        <div class="accordion-tab">
                            <input type="checkbox" id="chck1">
                            <label class="accordion-tab-label" for="chck1">Investments</label>
                            <div class="accordion-tab-content">
                                <p>Smart investing shouldn't perplex, puzzle, or confound. Our data-driven strategies may help you avoid even the deepest of pitfalls.</p>
                                <a href="$RootLocation$resource-center/investment" class="c-btn">Learn more</a>
                            </div>
                        </div>
                        <div class="accordion-tab">
                            <input type="checkbox" id="chck2">
                            <label class="accordion-tab-label" for="chck2">Retirement</label>
                            <div class="accordion-tab-content">
                                <p>Enjoy the fruits of your labor. We can help you build a retirement strategy that is sure to keep you excited for what's to come.</p>
                                <a href="$RootLocation$resource-center/retirement" class="c-btn">Learn more</a>
                            </div>
                        </div>
                        <div class="accordion-tab">
                            <input type="checkbox" id="chck3">
                            <label class="accordion-tab-label" for="chck3">Estate</label>
                            <div class="accordion-tab-content">
                                <p>Effective estate management enables you to manage your affairs during your lifetime and beyond. With over 100 years of collective experience, we'll help secure your legacy for generations to come.</p>
                                <a href="$RootLocation$resource-center/estate" class="c-btn">Learn more</a>
                            </div>
                        </div>
                        <div class="accordion-tab">
                            <input type="checkbox" id="chck4">
                            <label class="accordion-tab-label" for="chck4">Insurance</label>
                            <div class="accordion-tab-content">
                                <p>Our dedicated professionals can help create the insurance strategy you need. Protect your family, with our help, from the financial consequences of life's unexpected events.</p>
                                <a href="$RootLocation$resource-center/insurance" class="c-btn">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>