<div class="welcome-text">
    <h4>CULTIVATED FOR YOU</h4>
    <h2>Fallen Tree Damage&mdash;Who Pays?</h2>
    <p>As a homeowner, are you responsible for the damage caused by a tree on your property that hits your neighbor&rsquo;s home or other insured structure, such as a garage or shed?</p>
    <p>In most cases, the answer is &ldquo;no.&rdquo; When such damage occurs to your neighbor&rsquo;s home due to forces outside your control, e.g., weather events, your neighbors may have to file a claim with their insurer to receive a reimbursement for the damage a down tree or branches cause.</p>
    <p>There is one exception, however.</p>
    <p>If it is determined that the tree damage stems from your negligence (e.g., dead limbs that you refused to cut down, or you chose to trim your tree as a weekend project), then the neighbor&rsquo;s insurer may come after you to recover their loss&mdash;a process called subrogation.</p>
    <p>You may want to check your policy or speak to your insurance agent to ascertain if your homeowners policy covers your liability in cases of negligence.</p>
</div>
<div class="c-outer-container">
    <div class="c-container-inner">
        <div class="c-wrapper">
            <div class="c-row c-2-box">
                <div class="c-box">
                    <div class="accordion-img"><img src="#" /></div>
                </div>
                <div class="c-box">
                    <div class="main-title">
                        <h2>Your Goals, <span class="title-color">Our Strategies</span></h2>
                        <p class="main-sub">Discover an array of services for all your insurance needs.</p>
                    </div>
                    <!-- Radio Accordion -->
                    <div class="accordion-tabs">
                        <div class="accordion-tab">
                            <input type="checkbox" id="chck1">
                            <label class="accordion-tab-label" for="chck1">Commercial Property</label>
                            <div class="accordion-tab-content">
                                <p>When most of us think of commercial property insurance, thoughts of towering skyscrapers and industrial buildings come to mind. But it&rsquo;s the often-overlooked pieces of commercial property that are most important to your business.</p>
                                <a href="$RootLocation$commercial-property-insurance" class="c-btn">Learn more</a>
                            </div>
                        </div>
                        <div class="accordion-tab">
                            <input type="checkbox" id="chck2">
                            <label class="accordion-tab-label" for="chck2">Auto</label>
                            <div class="accordion-tab-content">
                                <p>If you drive or own a vehicle, being insured is more than just a convenience &ndash; it&rsquo;s a necessity.</p>
                                <a href="$RootLocation$auto-insurance" class="c-btn">Learn more</a>
                            </div>
                        </div>
                        <div class="accordion-tab">
                            <input type="checkbox" id="chck3">
                            <label class="accordion-tab-label" for="chck3">Home</label>
                            <div class="accordion-tab-content">
                                <p>Homeowners insurance products can help you protect your home and belongings should disaster strike.</p>
                                <a href="$RootLocation$home-insurance" class="c-btn">Learn more</a>
                            </div>
                        </div>
                        <div class="accordion-tab">
                            <input type="checkbox" id="chck4">
                            <label class="accordion-tab-label" for="chck4">Life</label>
                            <div class="accordion-tab-content">
                                <p>Life can move pretty fast sometimes. Having life insurance can ensure you and your loved ones remain protected even during life&rsquo;s unexpected events.</p>
                                <a href="$RootLocation$life-insurance" class="c-btn">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>