<div class="welcome-text">
    <h4>CULTIVATED FOR YOU</h4>
    <h2>Your Goals are the Key to Rampant Growth</h2>
    <p>The best futures are achieved through naturally diverse investments. Like the strongest of trees, the seeds you plant today will lead to a lush canopy of comfort, shelter, and protection tomorrow.</p>
    <p>Organic growth underlies all we do at Alta Wealth Management. Together, we&rsquo;ll design a roadmap that starts with the future you want and ends with your dream retirement. Our approach is designed to help your retirement weather the harshest of storms.</p>
</div>
<div class="c-outer-container">
    <div class="c-container-inner">
        <div class="c-wrapper">
            <div class="c-row c-2-box">
                <div class="c-box">
                    <div class="accordion-img"><img src="#" /></div>
                </div>
                <div class="c-box">
                    <div class="main-title">
                        <h2>Your Goals.&nbsp;<span class="title-color">Our Strategies.</span></h2>
                        <p class="main-sub">Discover an array of services for all your financial needs.</p>
                    </div>
                    <ul class="accordion">
                        <li><a>Investments</a>
                            <p>Smart investing shouldn&rsquo;t perplex, puzzle, or confound. Our data-driven strategies may help you avoid even the deepest of pitfalls.</p>
                        </li>
                        <li><a>Retirement</a>
                            <p>Enjoy the fruits of your labor. We can help you build a retirement strategy that is sure to keep you excited for what&rsquo;s to come.</p>
                        </li>
                        <li><a>Estate</a>
                            <p>Effective estate management enables you to manage your affairs during your lifetime and beyond. With over 100 years of collective experience, we'll help secure your legacy for generations to come.</p>
                        </li>
                        <li><a>Insurance</a>
                            <p>Our dedicated professionals can help create the insurance strategy you need. Protect your family,&nbsp;with our help, from the financial consequences of life's unexpected events.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AR Content -->

<div class="welcome-text">
    <h4>CULTIVATED FOR YOU</h4>
    <h2>Fallen Tree Damage&mdash;Who Pays?</h2>
    <p>As a homeowner, are you responsible for the damage caused by a tree on your property that hits your neighbor&rsquo;s home or other insured structure, such as a garage or shed?</p>
    <p>In most cases, the answer is &ldquo;no.&rdquo; When such damage occurs to your neighbor&rsquo;s home due to forces outside your control, e.g., weather events, your neighbors may have to file a claim with their insurer to receive a reimbursement for the damage a down tree or branches cause.</p>
    <p>There is one exception, however.</p>
    <p>If it is determined that the tree damage stems from your negligence (e.g., dead limbs that you refused to cut down, or you chose to trim your tree as a weekend project), then the neighbor&rsquo;s insurer may come after you to recover their loss&mdash;a process called subrogation.</p>
    <p>You may want to check your policy or speak to your insurance agent to ascertain if your homeowners policy covers your liability in cases of negligence.</p>
</div>
<div class="c-outer-container">
    <div class="c-container-inner">
        <div class="c-wrapper">
            <div class="c-row c-2-box">
                <div class="c-box">
                    <div class="accordion-img"><img src="#" /></div>
                </div>
                <div class="c-box">
                    <div class="main-title">
                        <h2>Your Goals, <span class="title-color">Our Strategies</span></h2>
                        <p class="main-sub">Discover an array of services for all your insurance needs.</p>
                    </div>
                    <ul class="accordion">
                        <li><a>Commercial Property</a>
                            <p>When most of us think of commercial property insurance, thoughts of towering skyscrapers and industrial buildings come to mind. But it&rsquo;s the often-overlooked pieces of commercial property that are most important to your business.</p>
                        </li>
                        <li><a>Auto</a>
                            <p>If you drive or own a vehicle, being insured is more than just a convenience &ndash; it&rsquo;s a necessity.</p>
                        </li>
                        <li><a>Home</a>
                            <p>Homeowners insurance products can help you protect your home and belongings should disaster strike.</p>
                        </li>
                        <li><a>Life</a>
                            <p>Life can move pretty fast sometimes. Having life insurance can ensure you and your loved ones remain protected even during life&rsquo;s unexpected events.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>